@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #f4f4ed;
  --accent-clr1: #003153;
  --accent-clr2: #cc9639; /* ce657d */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
