@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-clr: #192733;
  --accent-clr1: #6b84ab;
  --accent-clr2: #ce657d;
  --accent-clr3: #dba74f;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
