@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #f4f4ec;
  --accent-clr1: #d4c7be;
  --accent-clr2: #8a879a;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-hex);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
